.uniMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border: solid 3px #31A34A;
    align-items: center;
}
.uniTitle{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}
.uniCard{
    background-color: #F9F9F9;
    width: 45%;
    height: 7rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    border-radius: 10px;
    border: solid 3px #31A34A;
    margin-top: 1rem;
    justify-content: center;
}
.uniName{
    display: flex;
    /* background-color: aqua; */
    width: 55%;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}
.uniDeadline{
    display: flex;
    /* background-color: firebrick; */
    width: 45%;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}

.uniSave{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    /* background-color: red; */
}

.uniGuide{
    display: flex;
    height: 3rem;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.done{
    background-color: #8BE78B;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.pending{
    background-color: #FFFDAF;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 2rem;
}