.tableItem {
    display: flex;
    height: 20%;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem;
    width:auto;
    font-weight: bold;
  }